    body{
        background: url('../../images/ps_fond.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-top: 10%;
        font-family: 'comfortaa' , cursive;
        font-size: 20px;    
    }

    h1{
        font-size: 50px;

    }

    #bg{
        background:url('../../images/ps_fond.jpg') no-repeat center center;
        height: 500px;
    }

    .panel-transparent {
        background: none;
    }

    .panel-transparent .panel-heading{
        background: none !important;
    }

    .panel-transparent .panel-body{
        background: none !important;
    }

    input[type="email"], input[type="password"]
    {
        color : white;
        font-family: 'comfortaa' , cursive;
        font-size: 20px;    
        background: transparent !important;
        border: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: 0 3px 2px -2px white !important;
        -webkit-appearance: none;
    }

    .txt:hover {
        color : white;
        text-decoration: underline;
        cursor: pointer;
    }


    .btn-round-lg{
        border-radius: 22.5px;
        background-color: #663aad !important;

    }
    
    .btn-round{
        border-radius: 17px;
    }
    
    .fa-w-18{
        display: none !important;
    }

    @media only screen and (min-width: 768px) {
        h1{
            font-size: 50px;
        }
    }

    @media only screen and (max-width: 767px) {
        h1{
            font-size: 8vw;
        }
    }

    @media only screen and (max-width: 767px) and (orientation: portrait) {
        h1{
            font-size: 8vw;
        }
    }

